<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @consultant, partial: "card", as: :consultant %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "consultants/consultant_coffee_chats" %>
  </div>
</div>
  <!-- Show Page Customization end -->
